{% set recordsTotal = datasheet.totalRecordsFiltered %}

<div data-datasheet="{{ datasheet.name }}"
     data-datasheet-total-records-filtered="{{ datasheet.totalRecordsFiltered }}"
     data-datasheet-total-records-unfiltered="{{ datasheet.totalRecordsUnfiltered }}"
>
    {{ form_start(datasheet.formview) }}

    {% for parameterName, parameterValue in datasheet.queryStringParameters %}
        <input type="{{ datasheet.debug ? 'text' : 'hidden' }}" name="{{ parameterName }}" value="{{ parameterValue }}">
    {% endfor %}

    <div class="row">
        <div class="col-6">
            <nav>
                <div class="text-muted m-2">
{#                    {{ 'datasheet.filters.pagination.records_total'|trans }}: recordsTotal ,#}
{#                    {{ 'datasheet.filters.pagination.records_per_page'|trans }}: recordsPerPage ,#}
{#                    {{ 'datasheet.filters.pagination.pages_total'|trans }}: pagesTotal ,#}
{#                    {{ 'datasheet.filters.pagination.current_page'|trans }}: currentPage#}
                </div>
                <ul class="pagination" data-datasheet-pagination></ul>
            </nav>
        </div>
        <div class="col-6 text-end">
            <input type="submit" value="Apply filters" class="btn btn-primary">
        </div>
    </div>


    <div style="width:100%;overflow-x: auto;">
        <table class="table table-hover table-bordered text-secondary table-responsive bg-white" style="width:auto;">
            <thead class="bg-secondary text-white">
            <th class="border-bottom" style="width:30px;text-align:center;">
                <input type="checkbox">
            </th>
            {% for column in datasheet.columns %}
                <th class="border-bottom"
                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:{{ column.width }}px;"
                    data-datasheet-column-title="{{ column.name }}">
                    {{ column.title }}
                    <span data-datasheet-column-sort-details="{{ column.name }}">1</span>
                </th>
            {% endfor %}
            </thead>

            <tr class="bg-light">
                <td>&nbsp;</td>
                {% for column in datasheet.columns %}
                    <td class="p-1">
                        {% if datasheet.columnFilters(column.name)|length %}
                            {% set columnFilterPrefix = datasheet.name ~ '_cf' %}
                            {{ form_widget(
                                datasheet.formview[datasheet.name]['cf'][column.name]['selector'],
                                {'attr': {
                                    'class' : 'text-secondary form-select form-select-sm',
                                    'data-datasheet-column-filter-switcher': datasheet.name() ~ '_cf_filter_container_' ~ column.name
                                }}
                            ) }}
                            {% for filter in datasheet.columnFilters(column.name) %}
                                <div class="mt-1"
                                     id="{{ columnFilterPrefix }}_filter_container_{{ column.name }}_{{ filter.shortName }}">
                                    {% for child in datasheet.formview[datasheet.name]['cf'][column.name][filter.shortName] %}
                                        {{ form_widget(child) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            {% for record in datasheet.data %}
                <tr>
                    <td style="width:30px;text-align:center;">
                        <input type="checkbox">
                    </td>
                    {% for column in datasheet.columns %}
                        <td>
                            <div style="{{ column.styles }};white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                {{ column.getContent(record)|raw }}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div style="display:none">
        {% for child in datasheet.formview[datasheet.name]['df'] %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>

    {# Because form_end() will render all filter fields, since they somehow still not rendered on that point #}
    {{ '</form>' }}

    {% include '@Admin/datasheet/javascript.html.twig' %}

    {% if datasheet.debug %}
        <details>
            <summary>Datasheet dump</summary>
            {{ dump(datasheet) }}
        </details>
    {% endif %}
</div>
