{% extends '@Admin/layout/dashboard.html.twig' %}

{% block main %}
    <div class="row mb-2">
        <div class="col-md-6">
            <a href="javascript:history.back()"
               class="btn btn-secondary">&larr; {{ 'admin.controls.back'|trans }}</a>
        </div>
        <div class="col-md-6 text-right">
            {% if entityId %}
                <a href="{{ path('admin_crud_delete', {'entityClassName': entityClassName, 'entityId': entityId}) }}"
                   class="btn btn-danger"
                   onClick="if(!confirm('Are you sure?')){return false;}">{{ 'admin.controls.delete'|trans }}</a>
            {% endif %}
        </div>
    </div>

    {{ form_start(form) }}
    <table class="table table-bordered table-hover table-striped">
        {% for child in form.children %}
            <tr>
                <td width="200"><b>{{ form_label(child) }}</b></td>
                <td>{{ form_widget(child) }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ form_end(form) }}

{% endblock %}