{% extends '@Admin/layout/dashboard.html.twig' %}

{% block page_title %}
    {{ pageTitle }}
{% endblock %}

{% block page_content %}
    <div id="admin-entity-crud-edit-form">
        {{ form_start(form) }}
        <table class="table table-bordered table-hover table-striped">
            {% for child in form.children %}
                <tr>
                    <td width="200"><b>{{ form_label(child) }}</b></td>
                    <td>{{ form_widget(child) }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ form_end(form) }}
    </div>
{% endblock %}
